
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="selectedGame?.id; else elseBlock">{{originalTitle | titlecase}}</span>
          <ng-template #elseBlock>Select a game</ng-template>
        </mat-card-title>
      </mat-card-header>
      <form #gameForm="ngForm" (submit)="saved.emit(selectedGame)">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input
              type="text"
              matInput
              [(ngModel)]="selectedGame.title"
              required
              placeholder="Title"
              name="title"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea
              type="text"
              matInput
              [(ngModel)]="selectedGame.description"
              required
              placeholder="Description"
              name="description"
            ></textarea>
          </mat-form-field>
          <section class="full-width">
            <mat-slider
              [(ngModel)]="selectedGame.percentComplete"
              min="0"
              max="100"
              step="1"
              class="full-width"
              name="percentComplete"
            ></mat-slider>
          </section>
          <mat-checkbox
            [aria-label]="isFavorite"
            [(ngModel)]="selectedGame.favorite"
            name="favorite"
            >Favorite
          </mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <!-- COURSE ACTIONS -->
          <button
            [disabled]="gameForm.invalid"
            type="submit"
            mat-button
            color="primary"
          >
            Save
          </button>
          <button mat-button (click)="reset.emit()">Reset</button>
        </mat-card-actions>
        <pre>{{ gameForm.value | json }}</pre>
        <pre>{{ gameForm.valid | json }}</pre>
      </form>
    </mat-card>

